<div class="container">
  <%= render :partial => 'admin/shared/nav'%>
  <table  class="table" id="table_id">   
    <thead>
      <h3>All orders</h3><br>
      <tr>
        <th>Id</th> 
        <th>Order No</th> 
        <th>Order Date</th>
        <th>Order status</th>
        <th>User name</th>  
        <th>Total</th>   
        <th>Update status</th>
      </tr>   
    </thead>   
    <tbody id = "orders">  
      <% @orders.each do|order|%>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.transaction_id %></td>
        <td><%= order.created_at.to_date %></td>
        <td><%= order.order_status %></td>   
        <td><%= order.user.name %></td>
        <td>&#8377; <%= order.amount %></td>
        <td><i class="fa fa-map-marker" style="font-size: 18px"></i> <%= link_to "Tracking Update", admin_order_path(order), :class =>'link' %></td> 
      </tr>
      <% end %>    
    </tbody>   
  </table>
    <div>
    <div style="" class="link_back">
      <%= link_to 'Back', admin_index_path, :class => 'btn btn-info btn-block btn_back'%>
    </div>
  </div> 
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').dataTable({
          "pageLength": 5,
          "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
        });
    });
</script>  
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
