<div class="container">
  <%= render :partial => 'admin/shared/nav'%>
  <div>
    <h2>Add new Restaurant</h2>
    <%= form_for @restaurant, url: {action: :create} do |f| %>
      <div class="form-row">
        <div class="col-md-6 res_new">
          <%= f.label :name %>
           <span class="err"><%= @restaurant.errors[:name].join('. ') %></span><br/>
          <%= f.text_field :name , :class => 'form-control', :placeholder => 'Name',:maxlength => 30 %>
        </div>
        <div class="col-md-6 res_new">
          <%= f.label :email %>
           <span class="err"><%= @restaurant.errors[:email].join('. ') %></span><br/>
          <%= f.text_field :email , :class => 'form-control', :placeholder => 'Email' %>
        </div>
       
        <div class="col-md-6 res_new">
          <%= f.label :phone %>
           <span class="err"><%= @restaurant.errors[:phone].join('. ') %></span><br/>
          <%= f.text_field :phone , :class => 'form-control', :placeholder => 'phone', :maxlength => 10 %>
        </div>
        <div class="col-md-6 res_new">
          <%= f.label :image %> 
          <%= f.fields_for :pictures do |image_upload| %> 
            <%= image_upload.file_field :image, class: "form-control file"  %>
          <% end %>
           <!--  <span class ="upload-preview"> <img /></span> -->
        </div>
        
        <%= f.fields_for :locations do |l| %> 
          <!-- <div class="col-md-4 res_new">
            <%= f.label :state %>
            <%= l.text_field :state, class: "form-control", :placeholder => 'state'  %>  
          </div>

          <div class="col-md-4 res_new">
            <%= f.label :city %>
            <%= l.text_field :city, class: "form-control", :placeholder => 'city'  %>  
          </div> -->

          <div class="col-md-4 res_new">
            <%= f.label :state %>
            <%= l.select( :state, options_for_select("Select one"), {:prompt => 'Select state'}, {:class => 'form-control'}) %>
          </div>  
          <div class="col-md-4 res_new">
            <%= f.label :city %>
            <%= l.select( :city, options_for_select("Select one"), {:prompt => 'Select city'}, {:class => 'form-control'}) %>
          

          </div>
          
           <div class="col-md-4 res_new">
            <%= f.label :pincode %>
            <%= l.text_field :pincode, class: "form-control", :maxlength => 6, :placeholder => 'pincode'  %>  
          </div>

          <div class="col-md-4 res_new">
              <%= f.label :street %>
              <%= l.text_field :street, class: "form-control", :placeholder => 'street'  %>
          </div>
          
          <div class="col-md-4 res_new">
            <%= f.label :latitude %>
            <%= l.text_field :latitude, class: "form-control", :placeholder => 'latitude'  %>  
          </div>
          <div class="col-md-4 res_new">
            <%= f.label :longitude %>
            <%= l.text_field :longitude, class: "form-control", :placeholder => 'longitude'  %>  
          </div>
          <%= l.hidden_field :country, :value => 'India' %>
        <% end %>
      </div><br>
        <%= link_to 'Back', admin_restaurants_path, :class => 'btn btn-info'%>
        <%= f.submit "Save", :class => 'btn btn-success modal_btn restaurant_btn' %>
    <% end %>
  </div>
</div>

<form name="myform" id="myForm" style="display: none;">
  Select Country: <select name="state" id="countySel1" size="1">
  <option value="" selected="selected">Select Country</option>
  </select>
  <input type="submit">
</form>

















