<div class="container" >
  <%= render :partial => 'admin/shared/nav' %>
  <table  class="table " >   
    <thead class="thead-light">
      <h2><%= @restaurant.name %></h2>
      <%= link_to 'Add dish', new_admin_restaurant_dish_path(@restaurant), :class => 'btn add btn-sm btn-success'%><br><br>
      <tr> 
        <th>Dish</th> 
        <th>Image</th>
        <th>Price</th>
        <th>Avg Rating</th>
        <th>Total Reviews </th>
        <th>Actions</th> 
      </tr>   
    </thead>   
    <tbody>  
      <% @dishes.each do|d|%>
        <tr>
          <td><%= d.name %></td>
          <td><% d.pictures.each do|p|%>
              <%= link_to image_tag(p.image_url.to_s ,:class => 'img'),'#',
              {:class=>" ", "data-toggle"=>"modal", "data-target" => "#myModal-#{p.id}"}%>
                <!-- Modal for image view-->
              <div class="modal fade"  id="myModal-<%= p.id %>" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content modal-img-content">
                    <div class="modal-body">
                      <%= image_tag p.image_url.to_s ,:class => 'modal-img'%>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <% end %></td>
          <td><%= d.price %></td>
          <td><%= d.ratings.average(:rating) %></td>
          <td><%= d.ratings.count(:rating) %></td>
          <td><%= link_to "Edit", edit_admin_restaurant_dish_path(@restaurant,d),:class => 'glyphicon glyphicon-edit btn btn-sm btn-success'%>
              <%= link_to 'Delete', '#',{:class=>"btn btn-danger btn-sm", "data-toggle"=>"modal", "data-target" => "#delete-#{d.id}"} %>
                <div class="modal fade  " id="delete-<%= d.id %>">
                  <div class="modal-dialog ">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3><%= d.name %></h3>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you wish to delete?</p>
                      </div>
                      
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                        <%= link_to 'Delete',admin_restaurant_dish_path(@restaurant,d), method: :delete, :class => 'btn btn-danger btn-sm' %>
                      </div>

                    </div>
                  </div>
                </div></td>
          </tr>
      <% end %>   
    </tbody>   
  </table>
  <div>
    <div style="" class="link_back">
      <%= link_to 'Back', admin_restaurants_path, :class => 'btn btn-info btn-block btn_back'%>
    </div>
    <%= will_paginate @dishes, renderer: BootstrapPagination::Rails, :class => 'menublock' %>
  </div>      
</div>


  