<div class="container" >
  <%= render :partial => 'admin/shared/nav' %>
  <div align="center" class="restaurant_form u-dimension-2">
    <h2><%= @restaurant.name %></h2>
    <p>Add new dish</p>
    <%= form_for @dish, url: {action: :create} do |f| %>
      <div class="form-group dish_field">
        <div class="col-sm-12 dish_column">    
          <label>Name </label>
          <span class="err"><%= @dish.errors[:name].join('. ') %></span><br/>
            <%= f.text_field :name , :class => 'form-control', :placeholder => 'Name'%>
        </div>
      </div>
       
      <div class="form-group dish_field">
        <div class="col-sm-12 dish_column">    
          <label>Price </label>
           <span class="err"><%= @dish.errors[:price].join('. ') %></span><br/>
          <%= f.text_field :price, :class => 'form-control', :placeholder => 'Price'  %>
        </div>
      </div>

      <div class="form-group dish_field">
        <div class="col-sm-12 dish_column">    
          <label>Upload Picture</label>
            <%= f.fields_for :pictures do |image_upload| %> 
              <%= image_upload.file_field :image, class: "form-control"  %>
            <% end %>
        </div>
      </div>

      <div class="form-group dish_field">
        <div class="col-sm-12 dish_column">    
          <label>Category </label>
          <%= f.select( :category_id, options_from_collection_for_select(Category.all, "id", "name"), {:prompt => 'select category'}, {:class => 'form-control'}) %>   
        </div>
      </div>

      <div class= "form-group" >
        <div class="col-sm-12">    
            <%= f.submit "Save",class: "btn btn-block btn-primary btn-md dish_new" %> 
        </div>
      </div>

      <div class= "form-group" >
        <div class="col-sm-12">    
          <%= link_to 'Back to '+@restaurant.name,admin_restaurant_dishes_path,:class => "btn btn-sm btn-info "  %>
        </div>
      </div>

    <% end %>
  </div>
</div><br><br>



